<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>User Registration</title>
    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>

<div class="center">
    <h1>User Registration</h1>
</div>
</br>
        <table class="center">
            <form action="#" th:action="@{/processRegistration}" method="post" th:object="${customer}">
            <tr>
                <td><label>First name:</label></td>
                <td><input type="text" th:field="*{firstName}"/><br/></td>
            </tr>
            <tr>
                <td><label>Last name:</label></td>
                <td><input type="text" th:field="*{lastName}"/><br/></td>
            </tr>
            <tr>
                <td><label>E-mail:</label></td>
                <td><input type="text" th:field="*{email}"/><br/></td>
            </tr>
            <tr>
                <td><label>Password:</label></td>
                <td><input type="text" th:field="*{password}"/><br/></td>
            </tr>
           <tr>
                <td><label>Phone Number:</label></td>
                <td><input type="text" th:field="*{phoneNumber}"/><br/></td>
           </tr>
            <tr>
                <td><label>Address Line 1</label></td>
                <td><input type="text" th:field="*{addrLine1}"/><br/></td>
            </tr>
            <tr>
                <td><label>Address Line 2</label></td>
                <td><input type="text" th:field="*{addrLine2}"/><br/></td>
            </tr>
            <tr>
                <td><label>Town/City</label></td>
                <td><input type="text" th:field="*{townCity}"/><br/></td>
            </tr>
            <tr>
                <td><label>County/State:</label></td>
                <td><select th:field="*{countyState}">
                        <option th:each="p : ${listCountyState}" th:value="${p}" th:text="${p}"/>
                    </select></td>
            </tr>
            <tr>
                <td><label for="note">Notes: </label></td>
                <td><br/>
                   <textarea rows="5" cols="25" id="note" style="vertical-align" th:field="*{note}" top;></textarea>
                    <br/>
                </td>
            </tr>
            <tr>
                <td></td>
                <td><button type="submit">Register</button></td>
            </tr>
            </form>
        </table>
<br/>
        <div class="center">
              <a href="/returnToDashboard">Return to Dashboard</a>
         </div>
</body>
</html>