#sidebar-nav{
    width:200px;
}

body{
    /*padding-top: 50px;*/
    background-color:lightblue;
}

h1{
    color:darkblue;
}

h2{
    color:yellow;
}

a{
    color:black;
    text-decoration:underline;
}

