<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>User Registration</title>
    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>
<div class="center">
    <h1>User Registration</h1>
    <form action="#" th:action="@{/register}" method="post" th:object="${customer}">
        <label>First name:</label>
        <input type="text" th:field="*{firstName}"/><br/>

        <label>Last name:</label>
        <input type="text" th:field="*{lastName}"/><br/>

        <label>E-mail:</label>
        <input type="text" th:field="*{email}"/><br/>

        <label>Password:</label>
        <input type="text" th:field="*{password}"/><br/>

        <label>Phone Number:</label>
        <input type="text" th:field="*{phoneNumber}"/><br/>

        <label>Address Line 1</label>
        <input type="text" th:field="*{addrLine1}"/><br/>

        <label>Address Line 2</label>
        <input type="text" th:field="*{addrLine2}"/><br/>

        <label>Town/City</label>
        <input type="text" th:field="*{townCity}"/><br/>

        <label>County/State:</label>
        <select th:field="*{countyState}">
            <option th:each="p : ${listCountyState}" th:value="${p}" th:text="${p}"/>
        </select><br/>

        <label>id Type</label>
        <input type="text" th:field="*{idType}"/><br/>

        <label>ID Number</label>
        <input type="text" th:field="*{idNumber}"/><br/>

        <label>DOB</label>
        <input type="text" th:field="*{dob}"/><br/>

        <button type="submit">Register</button>
    </form>
    <a href="/">Return to Dashboard</a>
</div>
</body>
</html>